{% if profile and profile.imageName %}
    {% set filter_map = {
        8: 'avatar_tiny',
        16: 'avatar_tiny',
        32: 'avatar_tiny',
        48: 'avatar_small',
        64: 'avatar_small',
        96: 'avatar_medium',
        128: 'avatar_medium',
        256: 'avatar_large',
    } %}

    {% set filter_name = filter_map[size] ?? 'avatar_medium' %}

    <img src="{{ vich_uploader_asset(profile, 'imageFile') | imagine_filter(filter_name) }}"
         class="inline-block h-{{ size }} w-{{ size }} rounded-full {{ class|default('') }}"
         alt="User Avatar" />
{% else %}
    <div class="inline-block bg-gray-200 dark:bg-gray-700 rounded-full text-3xl h-{{ size }} w-{{ size }} {{ class|default('') }} flex items-center justify-center">
        <span class="text-gray-500 dark:text-gray-400 text-sm">
            {{ app.user.email|first|upper }}
        </span>
    </div>
{% endif %}